<h1>Listing option tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @option_tests.each do |option_test| %>
  <tr>
    <td><%= option_test.question %></td>
    
    <td><%= link_to 'Edit', [:edit, :admin, @chapter.book, @chapter, option_test] %></td>
    <td><%= link_to 'Destroy', [:admin, @chapter.book, @chapter, option_test], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
