<h1>Dictionary</h1>

<table>
  <tr>
    <th>Title</th>
    <th> Tip</th>
      <th> </th>
  </tr>

<% @dict_items.each do |tip| %>
  <tr>
    <td><%= tip.word %></td>
    <td><%= tip.tip %></td>
    <td><%= link_to 'Destroy', [:admin,@book,tip], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New item', [:new, :admin, @book, :dict_item] %>
