<h1>Listing exams</h1>

<table>
  <tr>
    <th></th>

  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.updated_at %></td>
    <td><%= exam.result  %></td>
    <td><%= link_to 'Show', exam %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam', new_book_chapter_exam_path(@chapter.book, @chapter) %>
