<h1>Listing exams</h1>

<table>
  <tr>
    <th> Date</th>
    <th> Result</th>
    <th> Passed? </th>
    <th></th>

  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.updated_at %></td>
    <td><%= exam.result  %></td>
    <td><%= state(exam)  %></td>
  </tr>
<% end %>
</table>

<br />
 <%= link_to 'back to ' + @chapter.title, [@chapter.book, @chapter] %> |
