<!DOCTYPE html>
<html>
<head>
  <title>Schoolbook</title>
  <%= stylesheet_link_tag "admin",  "jquery.wysiwyg"%>
  <%= javascript_include_tag "jquery-1.5.0.min", "jquery-ui.min", "jquery-ujs",  "application", "jquery.wysiwyg" , "controls/wysiwyg.image", "controls/wysiwyg.link", "controls/wysiwyg.table", "controls/wysiwyg.colorpicker" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
