<!DOCTYPE html>
<html>
<head>
  <title>Schoolbook</title>

 <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery-1.5.0.min", "jquery-ui.min", "jquery-ujs",  "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
